<div class="container sideMenu blackGradient clearPadding"  ng-class="{show: navStatus == true}" ng-if="true">
	<!-- <ul>
		<li>board</li>
		<li>board</li>
		<li>board</li>
		<li>board</li>
		<li>board</li>
	</ul> -->
	<div class="menuItem menuHeading clearMargin blackGradient">
		<div class=" clearPadding clearMargin">
			<div class="itemHeading" ng-click="navStatus = !navStatus">
				<h3 class="col-xs-10">Menu</h3>
				<span class="glyphicon glyphicon-option-vertical menuIcon sideMenuNavIcon col-xs-2" aria-hidden="true"></span>
			</div>
		</div>
	</div>


	<div class="menuItem">
		<div class=" clearPadding">
			<div class="itemHeading">
				<h3 class="col-xs-10">Manage Boards</h3>
				<span class="glyphicon glyphicon-tasks menuIcon col-xs-2" aria-hidden="true"></span>
			</div>
			<div class="manageInputs col-lg-12 ">
				
			    <div class="input-group ">
			      <span class="input-group-addon">
			        <input type="checkbox" aria-label="...">
			      </span>
			      <input type="text" class="form-control" aria-label="...">
			    </div><!-- /input-group -->
			    <div class="input-group">
			      <span class="input-group-addon">
			        <input type="checkbox" aria-label="...">
			      </span>
			      <input type="text" class="form-control" aria-label="...">
			    </div><!-- /input-group -->
			    <div class="input-group">
			      <span class="input-group-addon ">
			        <input type="checkbox" aria-label="...">
			      </span>
			      <input type="text" class="form-control" aria-label="...">
			    </div><!-- /input-group -->
			    <div class="input-group">
			      <span class="input-group-addon ">
			        <input type="checkbox" aria-label="...">
			      </span>
			      <input type="text" class="form-control" aria-label="...">
			    </div><!-- /input-group -->
			    <div class="input-group">
			      <span class="input-group-addon ">
			        <input type="checkbox" aria-label="...">
			      </span>
			      <input type="text" class="form-control" aria-label="...">
			    </div><!-- /input-group -->
			    <div class="input-group">
			      <span class="input-group-addon ">
			        <input type="checkbox" aria-label="...">
			      </span>
			      <input type="text" class="form-control" aria-label="...">
			    </div><!-- /input-group -->
			    <div class="input-group">
			      <span class="input-group-addon ">
			        <input type="checkbox" aria-label="...">
			      </span>
			      
			      <input type="text" class="form-control" aria-label="...">
			    </div><!-- /input-group -->
			
			   
			        <button class="btn btn-block btn-danger topMargin bottomMargin" type="button">Delete</button>
			      
			  </div><!-- /.col-lg-12 -->
			  <div class="col-lg-12">
			    <div class="input-group">
			      <input type="text" class="form-control" placeholder="New Board">
			      <span class="input-group-btn">
			        <button class="btn btn-success" type="button">Add</button>
			      </span>
			    </div><!-- /input-group -->
			  </div><!-- /.col-lg-12 -->


		</div>
	</div>
	<div class="menuItem">
		<div class=" clearPadding">
			<div class="itemHeading">
				<h3 class="col-xs-10">Manage Users</h3>
				<span class="glyphicon glyphicon-user menuIcon col-xs-2" aria-hidden="true"></span>
			</div>
			<div class="manageInputs col-lg-12 ">
				
			    <div class="input-group ">
			      <span class="input-group-addon">
			        <input type="checkbox" aria-label="...">
			      </span>
			      <input type="text" class="form-control" aria-label="...">
			    </div><!-- /input-group -->
			    <div class="input-group">
			      <span class="input-group-addon">
			        <input type="checkbox" aria-label="...">
			      </span>
			      <input type="text" class="form-control" aria-label="...">
			    </div><!-- /input-group -->
			    <div class="input-group">
			      <span class="input-group-addon ">
			        <input type="checkbox" aria-label="...">
			      </span>
			      <input type="text" class="form-control" aria-label="...">
			    </div><!-- /input-group -->
			    <div class="input-group">
			      <span class="input-group-addon ">
			        <input type="checkbox" aria-label="...">
			      </span>
			      <input type="text" class="form-control" aria-label="...">
			    </div><!-- /input-group -->
			    <div class="input-group">
			      <span class="input-group-addon ">
			        <input type="checkbox" aria-label="...">
			      </span>
			      <input type="text" class="form-control" aria-label="...">
			    </div><!-- /input-group -->
			    <div class="input-group">
			      <span class="input-group-addon ">
			        <input type="checkbox" aria-label="...">
			      </span>
			      <input type="text" class="form-control" aria-label="...">
			    </div><!-- /input-group -->
			    <div class="input-group">
			      <span class="input-group-addon ">
			        <input type="checkbox" aria-label="...">
			      </span>
			      <input type="text" class="form-control" aria-label="...">
			    </div><!-- /input-group -->
			
			   
			        <button class="btn btn-block btn-danger topMargin bottomMargin" type="button">Delete</button>
			      
			  </div><!-- /.col-lg-12 -->
			  <div class="col-lg-12">
			    <div class="input-group">
			      <input type="text" class="form-control" placeholder="New Board">
			      <span class="input-group-btn">
			        <button class="btn btn-success" type="button">Add</button>
			      </span>
			    </div><!-- /input-group -->
			  </div><!-- /.col-lg-12 -->


		</div>
	</div>



</div>