body{
	font-family: "jura","Helvetica","Arial","Sans-Serif";
	background: url('../images/mainBg.png');
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

/*helpers*/

.clearPadding{
	padding: 0
}

.clearMargin{
	margin: 0;
}

.centerText{
	text-align: center;
}

.floatLeft{
	float: left;
}

.floatRight{
	float: right;
}

.fixed{
	position: fixed !important;
}

.fullWidth{
	width: 100%;
}

.hasHeader{
	padding-top: 100px;
}

h1,h2,h3,h4{
	margin: 20px;
}

.outline{
	!outline: 1px solid white;
}

.centerText{
	text-align: center;
}

.zIndexPriority{
	z-index: 99;
}

.topMargin{
	margin-bottom: 5px;
}

.bottomMargin{
	margin-top: 5px;
}
.blackGradient{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#4c4c4c+0,474747+25,2c2c2c+72 */
	background: rgb(76,76,76); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(76,76,76,1) 0%, rgba(71,71,71,1) 25%, rgba(44,44,44,1) 72%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(76,76,76,1) 0%,rgba(71,71,71,1) 25%,rgba(44,44,44,1) 72%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(76,76,76,1) 0%,rgba(71,71,71,1) 25%,rgba(44,44,44,1) 72%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#2c2c2c',GradientType=0 ); /* IE6-9 */

}

.silverGradient{
	background: white; /*fallback*/
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,d8d8d8+100 */
	background: rgb(255,255,255); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(216,216,216,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(216,216,216,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(216,216,216,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#d8d8d8',GradientType=0 ); /* IE6-9 */

}

/*content*/

.sideMenu{
	position: fixed;
	z-index: 99;
	!top: 102px;
	height: 100%;
	border-right: 2px solid #b1fc12;
	box-shadow: 0px 0px 20px 2px black;
	width: 300px;
	overflow: scroll;
}

.menuHeading, .menuHeading .itemHeading{
	border: none !important;
	padding: 0 !important;
	padding-top: 10px !important;
	min-height: 0 !important;
	/* position: relative !important; */
	/* z-index: 99; */
}

.menuItem{
	position: relative;
    /* border-bottom: 1px solid gray; */
    box-shadow: 0px -3px 20px -5px black;
    min-height: 70px;
    padding: 20px 10px 20px 10px;
    overflow: auto;
}

.itemHeading{
	overflow: auto;
    padding-bottom: 20px;
    border-bottom: 2px solid #313131;
    margin-bottom: 20px;
}

.itemHeading h3{
	color: #b1fc12;
	font-size: 18px;
	font-weight: 100;
}

.menuItem h3{
	padding: 0;
	margin: 0;
	text-align: center;
}

.menuIcon{
	
    position: relative;
    color: #b1fc12;
    font-size: 15px;


}


.navsContainer{
	z-index: 98;
}

.navContainer{
	/*background: black;*/
	padding: 0;
	box-shadow: 0px 0px 20px 2px black;
    position: relative;
    width: 100%;

}

.subNavContainer{
	background: #c2ef6d;
	box-shadow: 0px 0px 20px 2px black;
	padding: 8px;
	position: relative;
	width: 100%;

}

.title{
	font-weight: 100;
	font-size: 24px;
	color: #b1fc12;
	text-align: center;

}

.boardHeader{
	box-shadow: 0px 0px 15px -5px black;
}

.boardTitle{
	font-weight: 100;
	font-size: 20px;
	color: white;
	text-align: center;
}

.boardContainer{
	
}


.board{
	margin-top: 30px;
}




/*sections*/

.sectionsContainer{
	margin-top: 10px;
}

.sectionContainer{
	padding-left: 10px;
	padding-right: 10px;
}

.sectionHeader{
	margin-bottom: 10px;
}

.sectionTitle{
	font-size: 20px;
	padding: 15px;
	box-shadow: 0px 0px 10px -2px black;
}

/*tasks*/

.taskContainer{
	margin-bottom: 10px;
	position: relative;
	z-index: 96;
}

.taskHeader{

}

.taskTitle{
	font-size: 16px;
	padding: 10px;
}

.taskBody{
	background: skyblue;
	padding: 10px;
}

.taskContainer:nth-child(1n+1) .taskBody{
	background: #ADE545;
}

.taskContainer:nth-child(2n+1) .taskBody{
	background: #CE74E7;
}

.taskContainer:nth-child(3n+1) .taskBody{
	background: #EDDD40;
}

.taskContainer:nth-child(4n+1) .taskBody{
	background: #ED9540;
}

.taskContainer:nth-child(5n+1) .taskBody{
	background: skyblue;
}

.taskFooter{

}

.taskArrows{
	overflow: auto;
}

.leftArrow{
	padding-left: 10px;
}

.rightArrow{
	padding-right: 10px;
}





























