<div class="container-fluid boardContainer hasHeader" >
	<div class="container board">
		<div class="row outline boardHeader blackGradient">
			<h2 class="boardTitle">Board</h2>
		</div>
		<div class="row outline sectionsContainer">

			<div class="sectionContainer col-md-3 clearPadding outline">
				<div class="sectionHeader">
					<h2 class="sectionTitle silverGradient clearMargin centerText" >Backlog</h2>
				</div>
				<div class="sectionBody">

					<div class="taskContainer">
						<div class="taskHeader">
							<h3 class="taskTitle silverGradient clearMargin centerText">
								Login Module
							</h3>
						</div>
						<div class="taskBody">
							<ul>
								<li>views</li>
								<li>controllers</li>
								<li>services</li>
							</ul>
						</div>
						<div class="taskFooter">
							<div class="taskArrows silverGradient">
								<span class="leftArrow floatLeft"><</span>
								<span class="rightArrow floatRight">></span>
							</div>
						</div> <!-- end taskfooter -->
					</div><!-- end taskContainer -->

					<div class="taskContainer">
						<div class="taskHeader">
							<h3 class="taskTitle silverGradient clearMargin centerText">
								Login Module
							</h3>
						</div>
						<div class="taskBody">
							<ul>
								<li>views</li>
								<li>controllers</li>
								<li>services</li>
							</ul>
						</div>
						<div class="taskFooter">
							<div class="taskArrows silverGradient">
								<span class="leftArrow floatLeft"><</span>
								<span class="rightArrow floatRight">></span>
							</div>
						</div> <!-- end taskfooter -->
					</div><!-- end taskContainer -->

					<div class="taskContainer">
						<div class="taskHeader">
							<h3 class="taskTitle silverGradient clearMargin centerText">
								Login Module
							</h3>
						</div>
						<div class="taskBody">
							<ul>
								<li>views</li>
								<li>controllers</li>
								<li>services</li>
							</ul>
						</div>
						<div class="taskFooter">
							<div class="taskArrows silverGradient">
								<span class="leftArrow floatLeft"><</span>
								<span class="rightArrow floatRight">></span>
							</div>
						</div> <!-- end taskfooter -->
					</div><!-- end taskContainer -->

					<div class="taskContainer">
						<div class="taskHeader">
							<h3 class="taskTitle silverGradient clearMargin centerText">
								Login Module
							</h3>
						</div>
						<div class="taskBody">
							<ul>
								<li>views</li>
								<li>controllers</li>
								<li>services</li>
							</ul>
						</div>
						<div class="taskFooter">
							<div class="taskArrows silverGradient">
								<span class="leftArrow floatLeft"><</span>
								<span class="rightArrow floatRight">></span>
							</div>
						</div> <!-- end taskfooter -->
					</div><!-- end taskContainer -->

					<div class="taskContainer">
						<div class="taskHeader">
							<h3 class="taskTitle silverGradient clearMargin centerText">
								Login Module
							</h3>
						</div>
						<div class="taskBody">
							<ul>
								<li>views</li>
								<li>controllers</li>
								<li>services</li>
							</ul>
						</div>
						<div class="taskFooter">
							<div class="taskArrows silverGradient">
								<span class="leftArrow floatLeft"><</span>
								<span class="rightArrow floatRight">></span>
							</div>
						</div> <!-- end taskfooter -->
					</div><!-- end taskContainer -->

					<div class="taskContainer">
						<div class="taskHeader">
							<h3 class="taskTitle silverGradient clearMargin centerText">
								Login Module
							</h3>
						</div>
						<div class="taskBody">
							<ul>
								<li>views</li>
								<li>controllers</li>
								<li>services</li>
							</ul>
						</div>
						<div class="taskFooter">
							<div class="taskArrows silverGradient">
								<span class="leftArrow floatLeft"><</span>
								<span class="rightArrow floatRight">></span>
							</div>
						</div> <!-- end taskfooter -->
					</div><!-- end taskContainer -->

					<div class="taskContainer">
						<div class="taskHeader">
							<h3 class="taskTitle silverGradient clearMargin centerText">
								Login Module
							</h3>
						</div>
						<div class="taskBody">
							<ul>
								<li>views</li>
								<li>controllers</li>
								<li>services</li>
							</ul>
						</div>
						<div class="taskFooter">
							<div class="taskArrows silverGradient">
								<span class="leftArrow floatLeft"><</span>
								<span class="rightArrow floatRight">></span>
							</div>
						</div> <!-- end taskfooter -->
					</div><!-- end taskContainer -->

				</div><!-- end sectionBody -->
			</div><!-- end sectionContainer -->	

			<div class="sectionContainer col-md-3 clearPadding outline">
				<div class="sectionHeader">
					<h2 class="sectionTitle silverGradient clearMargin centerText" >Backlog</h2>
				</div>
				<div class="sectionBody">

					<div class="taskContainer">
						<div class="taskHeader">
							<h3 class="taskTitle silverGradient clearMargin centerText">
								Login Module
							</h3>
						</div>
						<div class="taskBody">
							<ul>
								<li>views</li>
								<li>controllers</li>
								<li>services</li>
							</ul>
						</div>
						<div class="taskFooter">
							<div class="taskArrows silverGradient">
								<span class="leftArrow floatLeft"><</span>
								<span class="rightArrow floatRight">></span>
							</div>
						</div> <!-- end taskfooter -->
					</div><!-- end taskContainer -->

					<div class="taskContainer">
						<div class="taskHeader">
							<h3 class="taskTitle silverGradient clearMargin centerText">
								Login Module
							</h3>
						</div>
						<div class="taskBody">
							<ul>
								<li>views</li>
								<li>controllers</li>
								<li>services</li>
							</ul>
						</div>
						<div class="taskFooter">
							<div class="taskArrows silverGradient">
								<span class="leftArrow floatLeft"><</span>
								<span class="rightArrow floatRight">></span>
							</div>
						</div> <!-- end taskfooter -->
					</div><!-- end taskContainer -->

					<div class="taskContainer">
						<div class="taskHeader">
							<h3 class="taskTitle silverGradient clearMargin centerText">
								Login Module
							</h3>
						</div>
						<div class="taskBody">
							<ul>
								<li>views</li>
								<li>controllers</li>
								<li>services</li>
							</ul>
						</div>
						<div class="taskFooter">
							<div class="taskArrows silverGradient">
								<span class="leftArrow floatLeft"><</span>
								<span class="rightArrow floatRight">></span>
							</div>
						</div> <!-- end taskfooter -->
					</div><!-- end taskContainer -->

					<div class="taskContainer">
						<div class="taskHeader">
							<h3 class="taskTitle silverGradient clearMargin centerText">
								Login Module
							</h3>
						</div>
						<div class="taskBody">
							<ul>
								<li>views</li>
								<li>controllers</li>
								<li>services</li>
							</ul>
						</div>
						<div class="taskFooter">
							<div class="taskArrows silverGradient">
								<span class="leftArrow floatLeft"><</span>
								<span class="rightArrow floatRight">></span>
							</div>
						</div> <!-- end taskfooter -->
					</div><!-- end taskContainer -->

					<div class="taskContainer">
						<div class="taskHeader">
							<h3 class="taskTitle silverGradient clearMargin centerText">
								Login Module
							</h3>
						</div>
						<div class="taskBody">
							<ul>
								<li>views</li>
								<li>controllers</li>
								<li>services</li>
							</ul>
						</div>
						<div class="taskFooter">
							<div class="taskArrows silverGradient">
								<span class="leftArrow floatLeft"><</span>
								<span class="rightArrow floatRight">></span>
							</div>
						</div> <!-- end taskfooter -->
					</div><!-- end taskContainer -->

					<div class="taskContainer">
						<div class="taskHeader">
							<h3 class="taskTitle silverGradient clearMargin centerText">
								Login Module
							</h3>
						</div>
						<div class="taskBody">
							<ul>
								<li>views</li>
								<li>controllers</li>
								<li>services</li>
							</ul>
						</div>
						<div class="taskFooter">
							<div class="taskArrows silverGradient">
								<span class="leftArrow floatLeft"><</span>
								<span class="rightArrow floatRight">></span>
							</div>
						</div> <!-- end taskfooter -->
					</div><!-- end taskContainer -->

					<div class="taskContainer">
						<div class="taskHeader">
							<h3 class="taskTitle silverGradient clearMargin centerText">
								Login Module
							</h3>
						</div>
						<div class="taskBody">
							<ul>
								<li>views</li>
								<li>controllers</li>
								<li>services</li>
							</ul>
						</div>
						<div class="taskFooter">
							<div class="taskArrows silverGradient">
								<span class="leftArrow floatLeft"><</span>
								<span class="rightArrow floatRight">></span>
							</div>
						</div> <!-- end taskfooter -->
					</div><!-- end taskContainer -->

				</div><!-- end sectionBody -->
			</div><!-- end sectionContainer -->

			<div class="sectionContainer col-md-3 clearPadding outline">
				<div class="sectionHeader">
					<h2 class="sectionTitle silverGradient clearMargin centerText" >Backlog</h2>
				</div>
				<div class="sectionBody">

					<div class="taskContainer">
						<div class="taskHeader">
							<h3 class="taskTitle silverGradient clearMargin centerText">
								Login Module
							</h3>
						</div>
						<div class="taskBody">
							<ul>
								<li>views</li>
								<li>controllers</li>
								<li>services</li>
							</ul>
						</div>
						<div class="taskFooter">
							<div class="taskArrows silverGradient">
								<span class="leftArrow floatLeft"><</span>
								<span class="rightArrow floatRight">></span>
							</div>
						</div> <!-- end taskfooter -->
					</div><!-- end taskContainer -->

					<div class="taskContainer">
						<div class="taskHeader">
							<h3 class="taskTitle silverGradient clearMargin centerText">
								Login Module
							</h3>
						</div>
						<div class="taskBody">
							<ul>
								<li>views</li>
								<li>controllers</li>
								<li>services</li>
							</ul>
						</div>
						<div class="taskFooter">
							<div class="taskArrows silverGradient">
								<span class="leftArrow floatLeft"><</span>
								<span class="rightArrow floatRight">></span>
							</div>
						</div> <!-- end taskfooter -->
					</div><!-- end taskContainer -->

					<div class="taskContainer">
						<div class="taskHeader">
							<h3 class="taskTitle silverGradient clearMargin centerText">
								Login Module
							</h3>
						</div>
						<div class="taskBody">
							<ul>
								<li>views</li>
								<li>controllers</li>
								<li>services</li>
							</ul>
						</div>
						<div class="taskFooter">
							<div class="taskArrows silverGradient">
								<span class="leftArrow floatLeft"><</span>
								<span class="rightArrow floatRight">></span>
							</div>
						</div> <!-- end taskfooter -->
					</div><!-- end taskContainer -->

					<div class="taskContainer">
						<div class="taskHeader">
							<h3 class="taskTitle silverGradient clearMargin centerText">
								Login Module
							</h3>
						</div>
						<div class="taskBody">
							<ul>
								<li>views</li>
								<li>controllers</li>
								<li>services</li>
							</ul>
						</div>
						<div class="taskFooter">
							<div class="taskArrows silverGradient">
								<span class="leftArrow floatLeft"><</span>
								<span class="rightArrow floatRight">></span>
							</div>
						</div> <!-- end taskfooter -->
					</div><!-- end taskContainer -->

					<div class="taskContainer">
						<div class="taskHeader">
							<h3 class="taskTitle silverGradient clearMargin centerText">
								Login Module
							</h3>
						</div>
						<div class="taskBody">
							<ul>
								<li>views</li>
								<li>controllers</li>
								<li>services</li>
							</ul>
						</div>
						<div class="taskFooter">
							<div class="taskArrows silverGradient">
								<span class="leftArrow floatLeft"><</span>
								<span class="rightArrow floatRight">></span>
							</div>
						</div> <!-- end taskfooter -->
					</div><!-- end taskContainer -->

					<div class="taskContainer">
						<div class="taskHeader">
							<h3 class="taskTitle silverGradient clearMargin centerText">
								Login Module
							</h3>
						</div>
						<div class="taskBody">
							<ul>
								<li>views</li>
								<li>controllers</li>
								<li>services</li>
							</ul>
						</div>
						<div class="taskFooter">
							<div class="taskArrows silverGradient">
								<span class="leftArrow floatLeft"><</span>
								<span class="rightArrow floatRight">></span>
							</div>
						</div> <!-- end taskfooter -->
					</div><!-- end taskContainer -->

					<div class="taskContainer">
						<div class="taskHeader">
							<h3 class="taskTitle silverGradient clearMargin centerText">
								Login Module
							</h3>
						</div>
						<div class="taskBody">
							<ul>
								<li>views</li>
								<li>controllers</li>
								<li>services</li>
							</ul>
						</div>
						<div class="taskFooter">
							<div class="taskArrows silverGradient">
								<span class="leftArrow floatLeft"><</span>
								<span class="rightArrow floatRight">></span>
							</div>
						</div> <!-- end taskfooter -->
					</div><!-- end taskContainer -->

				</div><!-- end sectionBody -->
			</div><!-- end sectionContainer -->

			<div class="sectionContainer col-md-3 clearPadding outline">
				<div class="sectionHeader">
					<h2 class="sectionTitle silverGradient clearMargin centerText" >Backlog</h2>
				</div>
				<div class="sectionBody">

					<div class="taskContainer">
						<div class="taskHeader">
							<h3 class="taskTitle silverGradient clearMargin centerText">
								Login Module
							</h3>
						</div>
						<div class="taskBody">
							<ul>
								<li>views</li>
								<li>controllers</li>
								<li>services</li>
							</ul>
						</div>
						<div class="taskFooter">
							<div class="taskArrows silverGradient">
								<span class="leftArrow floatLeft"><</span>
								<span class="rightArrow floatRight">></span>
							</div>
						</div> <!-- end taskfooter -->
					</div><!-- end taskContainer -->

					<div class="taskContainer">
						<div class="taskHeader">
							<h3 class="taskTitle silverGradient clearMargin centerText">
								Login Module
							</h3>
						</div>
						<div class="taskBody">
							<ul>
								<li>views</li>
								<li>controllers</li>
								<li>services</li>
							</ul>
						</div>
						<div class="taskFooter">
							<div class="taskArrows silverGradient">
								<span class="leftArrow floatLeft"><</span>
								<span class="rightArrow floatRight">></span>
							</div>
						</div> <!-- end taskfooter -->
					</div><!-- end taskContainer -->

					<div class="taskContainer">
						<div class="taskHeader">
							<h3 class="taskTitle silverGradient clearMargin centerText">
								Login Module
							</h3>
						</div>
						<div class="taskBody">
							<ul>
								<li>views</li>
								<li>controllers</li>
								<li>services</li>
							</ul>
						</div>
						<div class="taskFooter">
							<div class="taskArrows silverGradient">
								<span class="leftArrow floatLeft"><</span>
								<span class="rightArrow floatRight">></span>
							</div>
						</div> <!-- end taskfooter -->
					</div><!-- end taskContainer -->

					<div class="taskContainer">
						<div class="taskHeader">
							<h3 class="taskTitle silverGradient clearMargin centerText">
								Login Module
							</h3>
						</div>
						<div class="taskBody">
							<ul>
								<li>views</li>
								<li>controllers</li>
								<li>services</li>
							</ul>
						</div>
						<div class="taskFooter">
							<div class="taskArrows silverGradient">
								<span class="leftArrow floatLeft"><</span>
								<span class="rightArrow floatRight">></span>
							</div>
						</div> <!-- end taskfooter -->
					</div><!-- end taskContainer -->

					<div class="taskContainer">
						<div class="taskHeader">
							<h3 class="taskTitle silverGradient clearMargin centerText">
								Login Module
							</h3>
						</div>
						<div class="taskBody">
							<ul>
								<li>views</li>
								<li>controllers</li>
								<li>services</li>
							</ul>
						</div>
						<div class="taskFooter">
							<div class="taskArrows silverGradient">
								<span class="leftArrow floatLeft"><</span>
								<span class="rightArrow floatRight">></span>
							</div>
						</div> <!-- end taskfooter -->
					</div><!-- end taskContainer -->

					<div class="taskContainer">
						<div class="taskHeader">
							<h3 class="taskTitle silverGradient clearMargin centerText">
								Login Module
							</h3>
						</div>
						<div class="taskBody">
							<ul>
								<li>views</li>
								<li>controllers</li>
								<li>services</li>
							</ul>
						</div>
						<div class="taskFooter">
							<div class="taskArrows silverGradient">
								<span class="leftArrow floatLeft"><</span>
								<span class="rightArrow floatRight">></span>
							</div>
						</div> <!-- end taskfooter -->
					</div><!-- end taskContainer -->

					<div class="taskContainer">
						<div class="taskHeader">
							<h3 class="taskTitle silverGradient clearMargin centerText">
								Login Module
							</h3>
						</div>
						<div class="taskBody">
							<ul>
								<li>views</li>
								<li>controllers</li>
								<li>services</li>
							</ul>
						</div>
						<div class="taskFooter">
							<div class="taskArrows silverGradient">
								<span class="leftArrow floatLeft"><</span>
								<span class="rightArrow floatRight">></span>
							</div>
						</div> <!-- end taskfooter -->
					</div><!-- end taskContainer -->

				</div><!-- end sectionBody -->
			</div><!-- end sectionContainer -->


		</div><!-- end sectionsContainer -->
	</div><!-- end board -->
</div><!-- end boardContainer -->