
<div class="container-fluid boardContainer hasHeader" ng-controller="boardCtrl as board">
	<div class="container board">
		<div class="row outline boardHeader blackGradient">
			<h2 class="boardTitle">{{board.board.title}}</h2>
			<button ng-if="board.board.columns.length == 0 || board.board.columns.length < 4" class="floatRight">add column</button>
		</div>

		
		<div class="row outline sectionsContainer" >

		<!-- column -->
			<div class="sectionContainer col-md-3 clearPadding outline" ng-repeat="column in board.board.columns">
				<div class="sectionHeader">
					<h2 class="sectionTitle silverGradient clearMargin centerText" >Title:{{column.title}}</h2>


				</div>
				<div class="sectionBody">

					<div class="taskContainer" ng-repeat="card in column.cards">
						<div class="taskHeader">
							<h3 class="taskTitle silverGradient clearMargin centerText">
								{{card.title}}
							</h3>
						</div>
						<div class="taskBody">
							<ul>
								<li ng-repeat="bullet in card.content">{{bullet}}</li>
							</ul>
						</div>
						<div class="taskFooter">
							<div class="taskArrows silverGradient">
								<span class="leftArrow floatLeft"><</span>
								<span class="rightArrow floatRight">></span>
							</div>
						</div> <!-- end taskfooter -->
					</div><!-- end taskContainer -->



				</div><!-- end sectionBody -->
			</div><!-- end sectionContainer -->	
			<!-- column -->

		</div><!-- end sectionsContainer -->


	</div><!-- end board -->
</div><!-- end boardContainer -->